# ============
# NODE_MODULES
# ============
node_modules

# ============
# IDEA
# ============
.idea
*.iml

# ============
# REPORTS
# ============
test-results.xml
coverage

# ============
# LOGS
# ============
npm-debug.log
